body {
  background-color: #eaeaea;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.85em;
}
h1 {
  color: #204392;
  font-weight: bold;
}

h2 {
  color: #204392;
  font-size: 1.5em !important;
  margin-top: 20px !important;
  font-weight: bold;
}
h3 {
  color: #204392;
  font-size: 1.2em !important;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  font-weight: bold;
}
hr {
  margin-bottom: 15px;
}
#course-description-p {
  line-height: 30px;
  text-align: justify;
}
li {
  margin: 10px;
}
#course-description {
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: circle !important;
  margin-left: 30px !important;
}
.navbar {
  background-color: #e3f2fd;
}
.menu {
  color: #204392;
  font-weight: bold;
}
.body {
  background-color: white;
}
#aboutme {
  margin-top: 5px !important;
}
.list-unstyled {
  list-style-type: none !important;
}
h4 {
  color: #204392;
  font-size: 1.1em !important;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  font-weight: bold;
}
.list-group-item {
  border-left-width: 1px !important;
}
.margint {
  margin-left: 10px !important;
}
